#navbar {
    list-style-type: none;
    text-align: right;
    background-color: white;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
}

#navbar li {
    display: inline;
}

body {
    background-color: aliceblue;
    margin: 0;
}

.header {
    display: flex;
    background-color: white;
    padding: 24px;
    text-align: center;
    margin: 20px;
}

.pribadi, .datadiri {
    text-align: left;
}

.pribadi {
    margin-right: 20px;
}

.pribadi h1 {
    margin-top: 0;
}

.tombol button {
    border-radius: 6px;
    border-width: 2px;
}

.tombol-edit {
    color: white;
    background-color: blue;
}

.tombol-resume {
    background-color: white;
    color: green;
    border-color: green;
}

.logo {
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}